
//use Open Sans from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "common/foundation/variables";

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body input,
body button,
body select,
body textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

#main-outlet {
    padding-bottom: 2em;
}

@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

@mixin buttonShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

//raise and round buttons
.btn {
  border-radius: 2px;
  @include boxShadow;
}

.sign-up-button,
.login-button {
    border-radius: 7px;
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

// Custom Styles
.d-header-icons .d-icon {
    color: white;
}

.category-logo.aspect-image {
    max-width: 50px;
}

.no-topics {
  text-align: center;
  padding: 1em;
}

td.topics > div:nth-child(1) {
    padding-right: 1em;
}

#banner {
    max-height: 350px;
}

#banner-content,
.cooked {
    strong {
        font-size: 1.2em;
    }

    a {
        text-decoration: underline;
    }

    a:hover {
        color: #12b5da;
    }
}

body[class*="category-"] #banner {
  display: none;
}

// Custom categories' logos on homepage
a[href*="/c/yaegi"], a[href*="/c/maesh"] {
  div.category-logo.aspect-image {
      max-width: 68px;
  }

  span.category-name {
      padding-bottom: 5px;
  }
}

/***
Settings for custom header components
***/

.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
}

.custom-header-links {
  padding-right: 1em;
  .headerLink {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}


/***
Settings for category banners
***/

$content-width: 1110px;

.category-heading {
  display: none;
}
span div[class^="category-title-header"] .category-title-contents {
  max-width: $content-width;
}
.category-title-header {
  margin-bottom: -65px !important;
  padding-top: 5em;
  padding-bottom: 4em;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  background-color: #fff;
  background-image: url($bannerHomepage);
  background-repeat:  no-repeat;
  background-position: center center;
  background-size: cover;

  .category-title-contents {
    width: 100%;
    text-align: left;
    padding: 40px;
    color: #fff;
    svg {
      height: 1.5em;
      width: 1.1em;
      margin-right: 0.25em;
    }
  }
  .category-title-description {
    font-size: 1.2em;
    padding-top: 1em;
    a, a:visited {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.category-title-header h1,
.banner-box > h2 {
  font-size: 2.2em;
  font-weight: bold;
  font-family: 'Open Sans Bold', sans-serif;
}

div.category-title-header.category-banner-traefik,
div.category-title-header.category-banner-traefik-v1,
div.category-title-header.category-banner-traefik-v2 {
  background-image: url($bannerTraefik);

  .category-title-contents {
    color: #222;

    h1 {
      display: block;
      text-indent: -9999px;
      width: 242px;
      height: 77px;
      background: url($traefikLogoHorizontal) no-repeat;
      background-size: cover;
    }
  }
}

// Yaegi section
div.category-title-header.category-banner-yaegi {
  background-image: url($bannerYaegi);
  background-position: right;

  .category-title-contents {
    color: #222;

    h1 {
      display: block;
      text-indent: -9999px;
      width: 242px;
      height: 77px;
      background: url($logoYaegi) no-repeat;
    }
  }
}

// Pilot section
div.category-title-header.category-banner-traefik-pilot {
  background-image: url($bannerPilot);
  background-position: right;

  .category-title-contents {
    color: #222;

//     h1 {
//       display: block;
//       text-indent: -9999px;
//       width: 242px;
//       height: 77px;
//       background: url($logoYaegi) no-repeat;
//     }
  }
}

// Traefik Hub section
div.category-title-header.category-banner-traefik-hub {
  background-image: url($bannerTraefikHub);
  background-position: right;

  .category-title-contents {
    color: #FFF;

    .category-title-description {
      padding-top: 40px;
      padding-bottom: 10px;
    }

    h1 {
      display: block;
      text-indent: -9999px;
      width: 242px;
      height: 77px;
      background: url($logoTraefikHub) no-repeat;
      background-size: 242px 77px;
    }
  }
}

// Maesh Section
div.category-title-header.category-banner-traefik-mesh {
    background-image: url($bannerMaesh);

    .category-title-contents {
        color: #000000;

        .d-icon-lock {
          display: none;
        }

        .category-title-description {
          padding-top: 30px;
          padding-bottom: 80px;
        }

        h1 {
          display: block;
          text-indent: -9999px;
          width: 242px;
          height: 77px;
          background: url($logoMaesh) no-repeat;
          background-size: 242px 77px;
        }
    }
}

/***
Settings for easy footer component
***/

.custom-footer {
  background: #210f4e;
  .flexbox {
    display: block;
  }
  .footer-links {
    flex: 1;
    text-align: center;
  }
  .footer-section-link-wrapper a {
    color: #D8CBFB;
  }
}

/***
Settings for versatile banner component
***/

$banner_letter_spacing: 0.01em;

.banner-box {
  background-image: url($bannerHomepage);

  h1, h2, h3 {
    text-align: left;
  }

  h2 {
    padding-bottom: 0.4em;
    letter-spacing: $banner_letter_spacing;
  }

  .section-header {
    padding-bottom: 7em;
    padding-top: 4em;
    height: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;

    h2.x-title {
      font-size: 28px;
      text-align: left;
      padding-top: 1em;
      padding-bottom: 0;
    }
    
    div.description p {
      font-size: 1.2em;
      padding-left: 65px;
      letter-spacing: $banner_letter_spacing;
      text-align: left;
      padding-bottom: 3em;
    }
  }
}
